body, html {
    margin: 0;
    font-family: "Roboto", sans-serif;
    height: 100%;
  }
  #ourTeams {
    padding: 80px 0;
    background-color: #f5f9ff;
  }
  .container.mt-5 {
    margin-bottom: 50px;
  }
  
  input::-webkit-input-placeholder {
    color: #888;
  }
  
  select {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
  }
  
  select option {
    background-color: rgba(93, 174, 239); 
    color: #fff;
  }
  
  