:root {
  --primary-color: #0071ef;
  --secondary-color: #98a1b1;
  --section-padding: 30px;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

.heroSection {
  background-size: cover;
  background-position: center;
  height: 400px; /* Adjust height as needed */
}
.heroSection h1 {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 20px 0;
  font-weight: 700;
}
.heroSection span {
  font-size: 1rem;
  font-weight: 700;
}
