:root {
  --primary-color: #0071ef;
  --section-padding: 20px;
}

/* start contact */

.contact-us .container p {
  padding-right: 30%;
}

.contact-us .container {
  width: 80%;
  padding-left: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.01), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.contact-us .container .infocard::after {
  content: "";
  width: 5px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: -10px;
  top: 0;
}

iframe {
  width: 100%;
}

/* Add space between contact us section and map */
.contact-us {
  margin-bottom: 50px; /* Adjust this value as needed */
}
