:root {
  --primary-color: #0071ef;
  --secondary-color: #040a1f;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* about-us section style */
#about-us {
  background-color: #f5f9ff;
}
#about-us .the-content-of-section .card {
  margin: 0px 0px 100px 0px;
}
#about-us .container .card img {
  width: 60px;
  height: 60px;
  margin: 20px;
}
#about-us .container .card a{
color: black;
}
#about-us .container .card a:hover {
  color: #3b5998;
}
/* end of about-us section style */
/* logos */
#logos {
  background-color: #fff;
  padding: 40px 0;
}