:root {
    --primary-color: #0071ef;
    --secondary-color: #98a1b1;
    --section-padding: 30px;
  }
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  ul {
    list-style: none;
  }


  /* end global rules */
  
  /* end nav */
  /* blog-hero */
  #blogs-hero {

    background-size: cover;
    background-position: center;
    height: 400px; /* Adjust height as needed */
  }
#blogs-hero h1 {
    font-size: 2rem;
    color: var(--primary-color);
    margin: 20px 0;
    font-weight: 700;

}
#blogs-hero span {

    font-size: 1rem;
    font-weight: 500;
}

/* blog-hero end */
/* blogs */
#blogs-section {
    padding-top: 50px ;
}
#blogs-section\  > div {
    margin: 80px 0;
}
.blog-content p:first-child{
 color:var(--primary-color);
 
}
.blog-content p:nth-child(2){
    font-size: 1rem;
    line-height: 1.5;
    color: var(--secondary-color);
   
}

/* blogs end */
/* pagination section */
#pagination{
    margin: 50px 0;
}
.pagination .page-item .page-link {
    width: 60px;
    height: 60px;
    line-height: 38px;
    
    background-color: transparent;
    border: 1px solid #f5f5f5;
}

.pagination .page-item.active .page-link {
    background-color: var(--primary-color); /* Bootstrap's primary color */
    border-color:var(--primary-color);
}

.pagination .page-item .page-link:hover {
    background-color: #e9ecef;
    border-color: #ddd;
}

.pagination .page-item .page-link:focus {
    box-shadow: none;
}
.pagination .page-item:not(.active) .page-link {
    color: black;
}

/* pagination section end */
/* footer */
footer #one {
    color: var(--primary-color);
}
footer #two {
    color:#040a1f;
}

footer {
    background-image: linear-gradient(rgba(226, 242, 253, 0.3), rgba(226, 242, 253, 0.3)), url('/assets/images/bg1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    isolation: isolate;
}
footer .Contact_info i {
    color: #2f73ef;

}
.email-section{
    position: relative;
}
.email-section i
{
    color: #2f73ef;
    position: absolute;
    top: calc(30%);
    left: 1rem;
}
.email-section input[type="submit"] {
    background-color: #2f73ef;
    color: #FFf;
}
.email-section .email_input {
    left: 0.5rem;
    padding-left: 2.5rem;
}
.Opening_Hours .ul li {
    padding-left: 0; 
    margin-left: 0; 
    text-align: left;
}
/* footer end */