/* start variables */
:root {
  --primary-color: #0071ef;
  --section-padding: 80px;
}
/* end variables */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}

/* start our doctors */
#our-doctors {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);

}
#our-doctors .container .doctors p {
  color: #777;
}
#our-doctors .container .doctors img {
margin-bottom: 10px
}
/* end our doctors */





/* end info */