:root {
  --primary-color: #0071ef;
  --secondary-color: #98a1b1;
}
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

/*general*/
#feeds {
  background-color: #f5f9ff;
  padding: 80px 0;
}
.container p {
  padding: 0;
  margin: 0;
}
.container > div:first-child > h3 {
  font-weight: 300;
}
.container > div:first-child > h4 {
  font-weight: 700;
  font-size: 2rem;
}
.card-body {
  padding: 15px;
}
.card-body h5 {
  max-width: 300px;
}
.card-body p {
  color: #98a1b1;
}
.btn {
  text-decoration: none;
}
.btn:hover {
  text-decoration: underline;
}
.card-title {
  font-weight: 700;
}
/* logos */
#logos {
  background-color: #fff;
  padding: 40px 0;
}
/* join-us */
#join-us {
  background-color: #0071ef;
  padding: 40px 0;
}
#join-us h2 {
  color: #fff;
  font-weight: 700;
  font-size: 2rem;
}
#join-us button {
  background-color: #0071ef;
  color: #fff;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
} /* footer styles */
footer {
  background-image: url(../images/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

footer #one {
  color: var(--primary-color);
}

footer #two {
  color: #040a1f;
}
