:root {
    --primary-color: #0071ef;
    --secondary-color: #98a1b1;

  }
  
  .blogSection {
    padding: 80px 0;
  }
  
  .blogs {
    display: flex;
    flex-wrap: wrap;
  }
  
  .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .imageContainer {
    overflow: hidden;
    border-radius: 8px 8px 0 0;
  }
  
  .blogContent {
    color: var(--primary-color);
  }
  
  .blogContent p {
    font-size: 1rem;
    color: var(--secondary-color);
    line-height: 1.6;
  }
  