.ourTeamSection {
    background-color: #f5f9ff;
    margin: 175px 0 100px 0;
  }

  @media (max-width: 480px) {
    .ourTeamSection {
      margin: 400px 0 150px 0;
    }
  }
@media (min-width: 768px) and (max-width: 1024px) {
    .ourTeamSection {
        margin: 210px 0 150px 0;
    }
}
  
  .badgeCustom::after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    position: absolute;
    bottom: 83px;
    left: 20%;
    border-bottom: 10px solid white;
   
  }
  .doctorImage {
    width: 100%; /* Responsive width */
    height: 300px; /* Fixed height */
    object-fit: cover; /* Ensures the image covers the area without stretching */
  }